.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}
h1 {
    font-family: "Raleway", sans-serif;
    font-size: 45px;
    font-weight: 400;
    text-transform: uppercase;
    /* color: #0D2C40; */
    letter-spacing: 1px;
    margin: 0;
    }
h2{
    font-family: "Raleway", sans-serif;
    color: #0D2C40;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 20px;
}
a{
    text-decoration: none;
    /* color: #F15B31; */
    color: #FFFFFF;
    margin: 0 20px;
    font-weight: 600;
    font-family: "Raleway",sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
}
a:hover{
    border-color: white;
}    
p {
    font-family: "Droid Serif", serif;
    line-height: 26px;
    font-size: 18px;
    }
body{
    text-align: center;
    margin: 0;
}
header{
    background-color: #F15B31;
    color: #FFFFFF;
    padding: 30px 20px;
}
nav{
    background-color: #00A6B3;
    color: white;
    padding: 20px 0;
}
main{
    width: 850px;
    margin: 35px auto;
}
footer{
    text-transform: uppercase;
    padding: 0 20px;
    background-color: #0D2C40;
    color:white;
    font-size: 14px;
    letter-spacing: .08em;
    font-weight: 500;
}
footer p{
    font-family: "Raleway",sans-serif; 
}
button{
    font-family: "Raleway",sans-serif;
    color: white;
    font-size: 18px;
    letter-spacing: .08em;
    padding: 15px;
    border: 2px solid;
    border-color: #00A6B3;
    background-color: #00A6B3;
}
button:hover{
    background-color: white;
    color:black;
    box-shadow: 5px 10px #00A6B3;
    cursor: pointer;
}
button:active{
    background-color: #00A6B3;
    color: white;
    border-color: white;

}
button:focus {outline:0;}
#gameboard img{
    padding: 15px;
}
#gameboard:active{
    cursor: pointer;
}
.copyright{
float:left
}
.message{
float:right;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
    }
.name{
    color: #F15B31;
    font-weight: 700;
}
